﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.new-post {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.post-input {
    border: none;
    width: 400px;
    border: 2px solid #ff3535;
    border-radius: 10px;
    padding: 4px;
    margin: auto;
    text-align: center;
}

.post-btn {
    width: 400px;
    background: #ff3535;
    border-radius: 10px;
    border: none;
    padding: 4px;
}

.feed {
    text-align: center;
}
.post {
    border: 2px #ff3535 solid;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    overflow: auto;
    width: 300px;
    height: 420px;
}

.post img {
    max-width: 250px;
    max-height: 330px;
    object-fit: cover;
}