﻿
@{
    ViewBag.Title = "Profile";
}

<br />
<br />
<div>
    <h2>Profile</h2>
    <h4>Username: @ViewBag.User.username</h4>
    <h4>Email: @ViewBag.User.email</h4>

    <br />
    <input type="button"
           value="Logout"
           onclick="location.href='@Url.Action("Logout", "Account")'" />

    <h4>My Posts</h4>
    <div class="feed">

        @if (ViewBag.Posts != null && ViewBag.Posts.Length > 0)
        {

            foreach (var post in ViewBag.Posts)
            {
                string imreBase64Data = Convert.ToBase64String(post.image);
                string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);

                <div class="post">
                    <br />
                    <img src="@imgDataURL" />
                    <br />
                    <h3>@post.caption</h3>
                </div>
            }
        }
        else
        {
            <h4>No Posts yet</h4>
        }
    </div>
</div>


