﻿
@{
    ViewData["Title"] = "Chat";
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>

    <script>
        //let connection = new signalR.HubConnection("/signalchat", { transport: signalR.TransportType.LongPolling });
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/signalchat")
            .configureLogging(signalR.LogLevel.Information)
            .withAutomaticReconnect()
            .build();

        async function start() {
            try {
                await connection.start();
                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(start);
        start(); // Start the connection.

        connection.on("ReceiveMessage", (username, message) => {
            //display the new message
            if (username == "@ViewBag.User.username") {
                document.getElementById("messageList").innerHTML +=
                "<li style=\"display: block\"><div class=\"message right\">" +
                "<p>" + username + "</p>" +
                "<h4>" + message + "</h4></div></li>";
            }
            else {
                document.getElementById("messageList").innerHTML +=
                "<li style=\"display: block\"><div class=\"message left\">" +
                "<p>" + username + "</p>" +
                "<h4>" + message + "</h4></div></li>";
            }
            
            //alert(username + ": " + message);
        });

        async function sendMessage() {
            var msg = document.getElementById("chat-input").value;
            if (msg != "") {
                try {
                    await connection.invoke("SendMessage", "@ViewBag.User.username", msg);
                } catch (err) {
                    console.error(err);
                }
            }
        }
    </script>
}


<style>
    .chat-container {
        position: relative;
        margin: auto;
        width: 70vw;
        height: 70vh;
        border: 2px solid #ff3535;
        border-radius: 10px;
        padding: 10px;
    }
    .chat-list{
        list-style: none;
        overflow-y: auto;
        height: 64vh;
    }
    .message{
        border-radius: 10px;
        padding: 5px;
        color: white;
        margin: 5px;
        width:auto;
    }
    .left{
        left: 0;
        background: #635d5d;
    }
    .right{
        right: 0;
        background: #e03d31;
    }
    .chat-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #ff3535;
        padding: 5px;
        border-radius: 10px;
    }
</style>

<br />
<br />
<h1>Chat</h1>

<div class="chat-container">

    <ul class="chat-list" id="messageList">

    </ul>

    <form class="chat-bottom" action="javascript:void(0);">
        <input id="chat-input" placeholder="Enter Message"/>
        <input type="submit" value="SEND" onclick="sendMessage();" />
    </form>
</div>
