﻿@{
    ViewBag.Title = "Feed";
}
<style>

    #err {
        color: red;
    }
</style>
<div>
    <br />
    <br />
    <div class="new-post">
        <form class="post-form" action="/Home/CreatePost" method="Post" enctype="multipart/form-data">
            <img id="output" width="100" /><br /><br />
            <input name="file" class="post-input" type="file" accept=".png,.jpg,.jpeg" onchange="displayImage(event)" />
            <br />
            <textarea name="caption" class="post-input" placeholder="I'm feeling happy"></textarea>
            <br />
            <button type="submit" class="btn-primary post-btn">POST</button>
        </form>
    </div>
    <h4 id="err">@ViewBag.Error</h4>

    <h3>My Feed</h3>
    <div class="feed">


        @if (ViewBag.Posts != null && ViewBag.Posts.Length > 0)
        {
            foreach (var post in ViewBag.Posts)
            {
                string imreBase64Data = Convert.ToBase64String(post.image);
                string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                IEnumerable<dynamic> users = ViewBag.Users;
                string username = users.Where(u => u.UID == post.UID).SingleOrDefault().username;

                <div class="post">
                    <h5>@@ @username</h5>
                    <br />
                    <img src="@imgDataURL" />
                    <br />
                    <h3>@post.caption</h3>
                </div>
                <!--<div class="card post" style="width: 20rem;">
                    <img class="card-img-top" src="@imgDataURL" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@@ @username</h5>
                        <p class="card-text">@post.caption</p>
                        <a href="#" class="btn btn-primary">Pollinate</a>
                    </div>
                </div>-->
            }
        }
        else
        {
            <br />
            <h4>No Posts yet</h4>
        }
    </div>

</div>

<script>
    var displayImage = function(event) {
	    var image = document.getElementById('output');
	    image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>